@model XPTOChallenge.Models.ViewModel.OrdemServiceViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<h2>@ViewData["Title"]</h2>

<h4>Cadastrar nova ordem de serviço</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ordemServico.tituloServico" class="control-label"></label>
                <input asp-for="ordemServico.tituloServico" class="form-control" />
                <span asp-validation-for="ordemServico.tituloServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ordemServico.valorServico" class="control-label"></label>
                <input asp-for="ordemServico.valorServico" type="number" class="form-control" />
                <span asp-validation-for="ordemServico.valorServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ordemServico.dataExecucao" class="control-label"></label>
                <input asp-for="ordemServico.dataExecucao" class="form-control" />
                <span asp-validation-for="ordemServico.dataExecucao" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="ordemServico.ClienteId" class="control-label"></label>
                        <select class="form-control" 
                                asp-for="ordemServico.ClienteId" 
                                asp-items="@(new SelectList(Model.Clients, "Id", "nomeCliente"))">

                        </select>


                    </div>


                    <div class="form-group">
                        <label asp-for="ordemServico.CPFPrestador" class="control-label"></label>
                        <input asp-for="ordemServico.CPFPrestador" class="form-control" type="number" maxlength="11" />
                        <span asp-validation-for="ordemServico.CPFPrestador" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ordemServico.nomePrestador" class="control-label"></label>
                        <input asp-for="ordemServico.nomePrestador" class="form-control" />
                        <span asp-validation-for="ordemServico.nomePrestador" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
