@model XPTOChallenge.Models.OrdemServico

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Editar ordem de serviço</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="tituloServico" class="control-label"></label>
                <input asp-for="tituloServico" class="form-control" />
                <span asp-validation-for="tituloServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.nomeCliente" class="control-label "></label>
                <input asp-for="Cliente.nomeCliente" class="form-control" />
                <span asp-validation-for="Cliente.nomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorServico" class="control-label"></label>
                <input asp-for="valorServico" class="form-control" />
                <span asp-validation-for="valorServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataExecucao" class="control-label"></label>
                <input asp-for="dataExecucao" class="form-control" />
                <span asp-validation-for="dataExecucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.CNPJClient" class="control-label"></label>
                <input asp-for="Cliente.CNPJClient" class="form-control" />
                <span asp-validation-for="Cliente.CNPJClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPFPrestador" class="control-label"></label>
                <input asp-for="CPFPrestador" class="form-control" />
                <span asp-validation-for="CPFPrestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomePrestador" class="control-label"></label>
                <input asp-for="nomePrestador" class="form-control" />
                <span asp-validation-for="nomePrestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
