@model XPTOChallenge.Models.Cliente

@{
    ViewData["Title"] = "Criar";
}

<h2>Create</h2>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNPJClient" class="control-label"></label>
                <input asp-for="CNPJClient" class="form-control" maxlength="14" max="99999999999999" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                <span asp-validation-for="CNPJClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeCliente" class="control-label"></label>
                <input asp-for="nomeCliente" class="form-control" />
                <span asp-validation-for="nomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" class="form-control" maxlength="8" max="99999999" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar"  class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
